<!-- <p>user.component works!</p>

<pre>{{ users | json }}</pre> -->
<!-- <ul>
    <li *ngFor="let u of users" >
        {{ u.name }} - {{ u.email }}
    </li>
</ul> -->
<div>
    <button class="btn btn-primary mb-4"> Botón con Bootstrap</button>

</div>

<p>Hola Mundo</p>

<br>

<ul>
    @for (u of users; track u.id){
        
        <li>
            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{u.id}}</h5>
            <p class="card-text">{{u.email}}</p>
            <a href="#" class="btn btn-primary">{{u.name}}</a>
            </div>
            </div>
        </li>

        <!-- <li> {{ u.name }} - {{ u.email }} </li> -->
    }
</ul>

<div>
    <button > Botón sin Bootstrap</button>
</div>